.rows {
    text-align: left;
    width: 100%;
}

.rows > tr {
    vertical-align: top;
}

.rows-flex {
    display: flex;
    flex-direction: row;
}

.rows-flex .row {
    width: 25%;
}

.row:nth-child(1) {
    background-color: gray;
}

.row:nth-child(2) {
    background-color: lime;
}

.row:nth-child(3) {
    background-color: coral;
}

.row:nth-child(4) {
    background-color: red;
}

footer {
    align-items: flex-end;
    bottom: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 1.5cm;
    position: absolute;
    width: 100%;
}

footer span {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    line-height: 19px;
    padding: 0 5px;
}

.page-break {
    page-break-before: always;
}
